@font-face{
    font-family: login-button;
    src:url("../FONTS/Oswald-VariableFont_wght.ttf");
}

@font-face{
    font-family: login-input;
    src:url("../FONTS/Oswald-VariableFont_wght.ttf");
}

@font-face{
    font-family: login-forgot;
    src:url("../FONTS/Oswald-VariableFont_wght.ttf");
}

@font-face{
    font-family: login-forgot-click;
    src:url("../FONTS/Oswald-VariableFont_wght.ttf");
}